* {
    padding: 0;
    margin: auto;
    text-align: center;
    align-self: center;
  }
  body {
    background-color:rgb(56, 131, 197);
  }
  .calculator {
    width: 500px;
    height: 500px;
    background-color: #c0c0c0;
    box-shadow: 0px 0px 0px 10px #666;
    border: 5px solid black;
    border-radius: 10px;
  }
  #display {
    width: 460px;
    height: 70px;
    text-align: right;
    background-color: black;
    border: 3px solid white;
    font-size: 35px;
    left: 2px;
    top: 2px;
    color: #7fff00;
  }
  .btnTop{
    color: white;
    background-color: #6f6f6f;
    font-size: 22px;
    margin: auto;
    width: 70px;
    height: 40px;
  }
  .btnNum {
    color: white;
    background-color: black;
    font-size: 20px;
    margin: auto;
    width: 70px;
    height: 40px;
  }
  .btnMath {
    color: white;
    background-color: #ff4561;
    font-size: 20px;
    margin: auto;
    width: 70px;
    height: 40px;
  }
  .btnOpps {
    color: white;
    background-color: #ff9933;
    font-size: 20px;
    margin: auto;
    width: 70px;
    height: 40px;
  }
  
  
  
  
  